@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);


#content1-2 P {
  font-size: 23px;
  font-family: 'PT Serif', serif;
  color: #28324e;
}
#content1-2 BLOCKQUOTE {
  font-family: 'PT Serif', serif;
  font-size: 23px;
}
